@model Setting
<div class="container">
    <form method="post">

        <div class="form-group">
            <label asp-for="Value">Value</label>
            <input class="form-control" asp-for="Value" placeholder="Enter Value">

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>