@model List<Slider>
@{
    int count = 0;
}

<h1>Sliders</h1>
<a class="btn btn-primary ml-5 mb-3" asp-action="Create">Create</a>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">SubTitle</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            count++;
            <tr>
                <th scope="row">@count</th>
                <td>@item.Id</td>
                <td>@item.Title</td>
                <td>@item.SubTitle</td>
				<td><img src="~/Upload/slider/@item.ImgUrl" style="width:100px;height:100px;" /> </td>
                <td>
                    <a class="btn btn-secondary" asp-action="Update" asp-route-id=@item.Id>Update</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id=@item.Id>Delete</a>
                </td>
            </tr>


        }
    </tbody>
</table>